node_modules/
log/
express.log
*.jpg
*.png
*.pdf
*.doc

!*.js
!*.css
!Server/Client/css
!Server/Client/css/*
!Server/Client/js
!Server/Client/js/*
!Server/Client/img
!Server/Client/img/carousel
!Server/Client/img/carousel/*
!Server/Client/img/team/*
!Server/Client/img/team
!Server/Client/img/*
!Server/Client/*
!Server/Client
!Server/server.js
!README.md
!LICENSE.md
!.gitignore
!Logger
!Logger/*