.main_container {
	background-color:#FFFFFF;
	overflow: hidden;
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	padding: 50px;
    height: auto !important;
}

.form_container {

}

.footer {
  position: sticky;
  width:100%;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: 1rem;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

html,body {
	background: #FFFFFF ; /* Colore e immagine sfondo */
	margin:0px;
	padding:0px;
}

.hidden-input {
	display: none;
	visibility: hidden;
}

.footer-copyright a {
	color: #000000;
}
.footer-copyright a:hover {
	color: #5b5b5b;
}
.facebook-link {
	color: #4267B2;
}
.twitter-link {
	color: #1DA1F2;
}
.google-plus-link {
	color: #DB4437;
}
.linkedin-link {
	color: #283E4A;
}